/* General Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

h1,
h2 {
    text-align: center;
    margin: 0.5em 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    background-color: #800080;
    padding: 1rem 10%;
    z-index: 1000;
    box-sizing: border-box;
}

#nav-title {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2rem;
    font-weight: 800;
}

.text-primary {
    color: #000000;
    text-shadow: 2px 2px 4px #cccccc;
}

#navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

#navbar ul li a {
    color: #ff66ff;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
}

#navbar ul li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#navbar ul li a:hover {
    color: #99bbff;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* Welcome Section */
#welcome-section {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #006666, #00cc99);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 8rem 2rem 0;
    position: relative;
}

#welcome-container {
    max-width: 50%;
    text-align: left;
    padding: 2rem;
}

#welcome-section h3 {
    font-size: 1.25rem;
    font-weight: normal;
    color: #e6b3b3;
    text-shadow: 1px 1px 3px #000000;
}

#welcome-section h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 2px #000000;
    white-space: nowrap;
    text-align: left;
}

#welcome-section p {
    font-size: 1rem;
    color: #f2f2f2;
}

#image-container {
    flex-shrink: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #ffb380;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-60%);
    width: auto;
    height: 100%;
}

/* Projects Section */
#projects {
    padding: 2em;
    background-color: #f4f4f4;
    max-width: 100%;
    width: 100%
}

#projects h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #e6004c;
    text-shadow: 1px 1px 2px #000000;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.project-tile {
    background-color: #732626;
    padding-bottom: 1.25rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.project-tile:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.projects a {
    text-decoration: none;
}

.project-container a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #e6b3b3;
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
}

.project-image {
    width: 100%;
    height: calc(100% - 3rem);
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.project-tile p {
    margin: 1rem 0;
    font-weight: bold;
    text-decoration: none;
}

.project-tile:hover p {
    color: #e6e6e6;
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.btn-primary {
    background-color: #e6005c;
    color: #ffcce0;
    font-size: 1.25rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 15px 50px;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
}

#projects>a {
    text-decoration: none;
}

.btn-primary:hover {
    background: #800080;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* Contact Section */
#contact {
    max-width: 100%;
    width: 100%;
    padding: 2rem;
    background: #023535;
    color: #e6e6e6;
    text-align: center;
}

#contact h2,
#contact p {
    text-shadow: 2px 2px 2px #1f1f1f;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #009999;
    border-radius: 50%;
    color: #660033;
    font-size: 17px;
    text-decoration: none;
}

.social-icon:hover {
    background-color: #cccccc;
    color: #006666;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.mail {
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #1f1f1f;
}

.icon>a:nth-child(3) {
    text-decoration: none;
    color: #cefdfd;
}

.icon>a:nth-child(3):hover {
    color: #ff99cc;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* responsive Media Query */
@media screen and (max-width: 991px) {
    #navbar {
        padding: 2rem;
    }

    #navbar ul {
        flex-direction: column;
    }

    #welcome-section {
        flex-direction: column-reverse;
        height: 100%;
    }

    #welcome-section h3 {
        font-size: 1rem;
    }

    #welcome-section h1 {
        font-size: 1.5rem;
    }

    #welcome-section p {
        font-size: 0.875rem;
    }

    #welcome-container {
        max-width: 100%;
        padding: 20px;
    }

    #image-container {
        margin: 150px auto 0;
        width: 250px;
        height: 250px;
    }

    .project-container {
        grid-template-columns: 1fr;
    }

    #projects h2 {
        font-size: 1.5rem;
    }

    .project-container a {
        font-size: 1rem;
    }

    .mail {
        font-size: 1.25rem;
    }

    @media screen and (min-width:712px) {
        #navbar {
            padding: 2rem 10%;
        }
    }

}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    #welcome-section {
        padding-top: 8rem;
        gap:5rem;
    }
}